<!-- Header top -->
<!-- Slider main container -->
<div class="swiper-container">

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

        <!-- Slides -->
        <div class="swiper-slide" href="app-1">
          <%- include app-1 %>
        </div>
        <div class="swiper-slide" href="app-2">
          <%- include app-2 %>
        </div>
        <div class="swiper-slide" href="app-3">
          <%- include app-3 %>
        </div>
        <div class="swiper-slide" href="app-4">
          <%- include app-4 %>
        </div>
        <div class="swiper-slide" href="fakeLoad">
          <%- include fakeLoad %>
        </div>
        <div class="swiper-slide" href="app-5">
          <%- include app-5 %>
        </div>
        <div class="swiper-slide" href="app-6">
          <%- include app-6 %>
        </div>
        <div class="swiper-slide" href="app-7">
          <%  pictureId=0   %>
          <%- include app-7 %>
        </div>
        <div class="swiper-slide" href="app-7">
          <%  pictureId=1   %>
          <%- include app-7 %>
        </div>
        <div class="swiper-slide" href="app-7">
          <%  pictureId=2   %>
          <%- include app-7 %>
        </div>
        <div class="swiper-slide" href="app-7">
          <%  pictureId=3   %>
          <%- include app-7 %>
        </div>
        <div class="swiper-slide" href="fakeLoad">
          <%- include fakeLoad %>
        </div>
        <div class="swiper-slide" href="app-8">
          <%- include app-8 %>
        </div>
        <div class="swiper-slide" href="app-9">
          <%- include app-9 %>
        </div>
        <div class="swiper-slide" href="app-10">
          <%- include app-10 %>
        </div>
        <div class="swiper-slide" href="app-11">
          <%- include app-11 %>
        </div>
        <div class="swiper-slide" href="app-12">
          <%- include app-12 %>
        </div>
    </div>

    <div class="swiper-pagination"></div>
</div>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

<script>

  function playv() {
      document.getElementById('videobk').play();
  }

  $(document).ready(function () {
    playv();
  })

</script>
